input {
  font-size: inherit;
  height: 1em;
}

label {
  text-align: left;
}

button {
  background-color: #fff;
}
button:hover {
  background-color: #f88;
}
button:active {
  background-color: #ff8;
}
